.admin{
	color: rgb(0, 0, 160);
	font-size: 20px;
}
.user{
	color: rgb(0, 128, 128);
	font-size: 20px;
}
.logoutBtn{
	float: right !important;
}

/*
	navigation bar
*/

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
